---
title: Dom's Homepage
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description" 
      content="A personalised homepage built with 11ty and hosted on Netlify."
    >
    <title>{{ title }}</title>
    {# <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> #}
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="outer_container">
      <div class="complete-row">
          <h1 class="page_title">{% todayString %}</h1>
      </div>
    </div>
    {{ content | safe }}
  </body>
</html>
