---
title: Dom's Homepage
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description" 
      content="A personalised homepage built with 11ty and hosted on Neylify."
    >
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>{{ title }}</h1>
        </div>
      </div>
      {{ content | safe }}
    </div>
  </body>
</html>
