<div class="panel grid-item" id="about">
    <h2>About</h2>
    <p>
        Little project using a static site generator (<a href="https://www.11ty.dev/">11ty</a>)
        to build a custom 'homepage' dashboard, including as many odd little widgets as I can
        think of.
    </p>
    <p>
        Code on a <a href="https://github.com/domwakeling/web_homepage">Github repo</a>,
        page is housed on Netlify and refreshed each day at 5am, midday and 6pm (all UTC/GMT) via
        Netlify Hooks triggered from a Github Action.
    </p>
</div>