<div class="panel grid-item" id="beer">
    <h2>{{ beer.name}}</h2>
    {% beerImage beer.image_url %}
    <h3 class="toot_date">{{ beer.tagline }}</h3>
    <br />
    <p>{{ beer.description }}</p>
    <p>Goes well with:</p>
    <ul>
        {%- for food in beer.food_pairing-%}
        <li>{{ food }}</li>
        {%- endfor -%}
    </ul>
    <div style="clear: both;"></div>
</div>