{% set coviddata = covid %}
<div class="panel grid-item" id="covid">
    <h2>Covid-19</h2>
    <p>Summary of data from yesterday, {{ coviddata.dateString }}.</p>
    <table style="margin: 0 auto 1.0rem;">
        <tr>
            <th>Region</th>
            <th>Cases</th>
            <th>Deaths</th>
        </tr>
        {%- for item in coviddata.data -%}
        <tr>
            <td>{{ item.country }}</td>
            <td>{{ item.cases }}</td>
            <td>{{ item.deaths}}</td>
        </tr>
        {%- endfor -%}
    </table>
    <p class="footnote" style="text-align: center;">
        approximate data from open-source APIs
    </p>
</div>