{% set item = cowboy %}

<div class="panel" id="cowboy">
    <h2>Cowboy Bebop</h2>
    <p style="font-family: 'Bebas Neue'; font-size: 2.4rem;">{{ item.character | upper }}</p>
    <ul>
        <li>{{ item.quote }}</li>
    </ul>
</div>
