{% set item = cowboy %}
<div class="panel grid-item" id="cowboy">
    <h2>Cowboy Bebop</h2>
    <ul>
        <li>{{ item.quote }}</li>
    </ul>
    <p class="cowboy_attribution">{{ item.character | upper }}</p>
</div>