<div class="panel grid-item" id="cycling">
    <h2>Cycling</h2>
    {%- for item in cycling -%}
        <hr class="toot_hr" />
        <a href="{{ item.link }}" target="_offiste">
            {% processImage item.imageUrl, "freeCodeCamp image" %}
        </a>
        <p>{{ item.title }}</p>
        <div style="clear: both"></div>
    {%- endfor -%}
</div>