<div class="panel grid-item" id="fccnews">
    <h2>freeCodeCamp</h2>
    {%- for item in fccnews -%}
        <hr class="toot_hr" />
        <a href="{{ item.link }}" target="_offiste">
            {% processImage item.imageUrl, "freeCodeCamp image" %}
        </a>
        <p>{{ item.title }}</p>
        <div style="clear: both"></div>
    {%- endfor -%}
</div>