<div class="panel" id="joke">
    <h2>Programming Joke</h2>
    <ul>
        <li>{{ joke.setup }}</li>
        <li>{{ joke.delivery }}</li>
    </ul>
    <p style="text-align: center">
        <i>courtesy of <a href="https://sv443.net/jokeapi/v2/" target="_offsite">JokeAPI</a></i>
    </p>
</div>