<div class="panel" id="links">
    <h2>Useful Links</h2>
    <div class="links_container">
        <a class="link_img_wrap" href="https://app.netlify.com/teams/domwakeling/overview" target="_offiste">
            <img class="link_img" src="/img/links/netlify.jpg" alt="netlify" />
        </a>
        <div></div>
        <a class="link_img_wrap" href="https://www.theverge.com/" target="_offiste">
            <img class="link_img" src="/img/links/verge.png" alt="the verge" />
        </a>
        <div></div>
        <a clas="link_img_wrap" href="https://vercel.com/dashboard" target="_offsite">
            <img class="link_img" src="/img/links/vercel.png"/>
        </a>
    </div>
</div>