<div class="panel grid-item" id="rtww2">
    {% mastoImage rtww2.user_img %}
    <h2>{{ rtww2.user_name }}</h2>
    {%- for item in rtww2.toots -%}
        <hr class="toot_hr" />
        <h3 class="toot_date">{{ item | datefromtoot }}</h3>
        {%- if item.media != '' -%}
            {% processImage item.media, "toot image" %}
        {%- endif -%}
        {{ item.content | safe }}
        <div style="clear: both"></div>
    {%- endfor -%}
</div>