<div id="silly-quote" class="panel grid-item">
    <h2>Quote Of the Night</h2>
    {# <p style="font-family: 'Bebas Neue'; font-size: 2.0rem">I had a great day &mdash; because you weren't here!</p> #}
    {# <p style="font-family: 'Bebas Neue'; font-size: 2.0rem"> #}
    <p style='font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 2.0rem; line-height: 1.2;'>
        I'M NOT SHOUTING &mdash; YOU JUST HAVE SENSITIVE HEARING
    </p>
</div>