<div id="silly-quote" class="panel grid-item">
    <h2>Quote Of the Night</h2>
    {# <p style="font-family: 'Bebas Neue'; font-size: 4.0rem">I had a great day &mdash; because you weren't here!</p> #}
    <p style="font-family: 'Bebas Neue'; font-size: 4.0rem">
        I'm not shouting &mdash; you just have sensitive hearing
    </p>
</div>