<div class="panel" id="tv">
    <h2>TV Shows</h2>
    <table style="margin: 0 auto 1.0rem; width: 90%;" id="tv_table">
        <tr>
            <th style="padding-left: 1.0rem; width: 70%;">Show</th>
            <th style="text-align: right; padding-right: 1.0rem; width: 30%;">When</th>
        </tr>
        {%- for item in tv -%}
        <tr>
            <td style="padding-left: 1.0rem;">{{ item.showName }}</td>
            <td style="text-align: right; padding-right: 1.0rem; width: 30%;">
                {% if item.days > 0 %}
                    {{ item.days }} days
                {% else %}
                    today
                {% endif %}
            </td>
        </tr>
        {%- endfor -%}
    </table>
</div>