// items that are purportedly causing a layout shift due to late-loading CSS
h1.page_title {
    text-align: center;
}

div.panel {
    padding: 1.0rem 1.25rem;
    background-color: #fefaf5;
    border-radius: 1.0rem;
    border: 1px solid #f29626;
}

.grid-item {
    box-sizing: border-box;
    width: 23%;
    margin: 1%;
    float: left;
}

#f1team {
    tr {
        td {
            font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 1.2;
        }
    }
}