/* RESPONSIVE MIXINS */

@mixin for-one-column-only {
    @media (max-width: 770px) { @content; }
}
@mixin for-two-column-only {
    @media (min-width: 771px) and (max-width: 1150px) { @content; }
}
@mixin for-three-column-only {
    @media (min-width: 1151px) and (max-width: 1530px) { @content; }
}

/* RESPONSIVE LAYOUT  */

.outer_container {
    padding: 0 20px;
    max-width: 1960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    column-gap: 2%;
    row-gap: 2.0rem;
}
.complete-row {
    grid-column-start: span 4;
    width: 100%
}

// watch and podcast always top left
#watchouter {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
}
#podcast {
    grid-column-start: 1;
    grid-row-start: 3;
}

// archer panel varies in height
#archer{
    &.height2 {
        grid-row-end: span 2;
    }
    &.height3 {
        grid-row-end: span 3;
    }
}

// all the smaller units
#silly-quote {
    grid-row-end: span 2;
}
#covid {
    grid-row-end: span 3;
}
#superhero {
    grid-row-end: span 2;
}
#about, #regen, #joke, #randomcat, #currency, #bitcoin, #space {
    grid-row-end: span 2;
}

// middling
#beer {
    grid-row-start: span 3;
}
#today {
    grid-row-start: span 3;
}

// big'uns

#rtww2 {
    grid-row-end: span 15;
}
#football {
    grid-row-end: span 6;
}
#weather {
    grid-row-end: span 3;
}
#fccnews {
    grid-row-end: span 6;
}
#cycling {
    grid-row-end: span 7;
}
#f1 {
    grid-row-end: span 7;
}
#baseball {
    grid-row-end: span 9;
}

@include for-three-column-only {
    .outer_container {
        max-width: 1460px;
        grid-template-columns: 31% 31% 31%;
        column-gap: 3%;
    }
    .complete-row {
        grid-column-start: span 3;
    }
}
@include for-two-column-only {
    .outer_container {
        max-width: 960px;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
    }
    .complete-row {
        grid-column-start: span 2;
    }
}
@include for-one-column-only {
    .outer_container {
        max-width: 460px;
        display: block;
    }
}