/* RESPONSIVE MIXINS */

@mixin for-one-column-only {
    @media (max-width: 770px) { @content; }
}
@mixin for-two-column-only {
    @media (min-width: 771px) and (max-width: 1150px) { @content; }
}
@mixin for-three-column-only {
    @media (min-width: 1151px) and (max-width: 1530px) { @content; }
}

/* RESPONSIVE LAYOUT  */

.outer_container {
    padding: 0;
    max-width: 1960px;
    margin: 0 auto;
}
.complete-row {
    width: 100%
}
.grid-item {
    width: 23%;
    padding: 1%;
}

@include for-three-column-only {
    .outer_container {
        max-width: 1460px;
    }
    .grid-item {
        width: 31%;
    }
}
@include for-two-column-only {
    .outer_container {
        max-width: 960px;
    }
    .grid-item {
        width: 48%;
    }
}
@include for-one-column-only {
    .outer_container {
        max-width: 460px;        
    }
    .grid-item {
        width: 98%;
    }
}