body {
    color: $color_mainText;
    background-color: $color_mainBackground;
}

a {
    color: $color_linkText;
    font-weight: 400;
}

button {
    background-color: orange;
    border-color: $color_mainText;
    color: darken($color_mainText, 10%);
}

/* SPECIFIC ELEMENTS / STYLES */
h1.page_title {
    text-align: center;
}

p.footnote {
    color: $color_greyText;
    font-style: italic;
}

/* STYLING FOR PANELS */

div.panel {
    padding: 1.0rem 1.25rem;
    background-color: $color_panelBackground;
    border-radius: 1.0rem;
    border: 1px solid $color_orange;
    margin-bottom: 2.0rem;
}

/* OVERRIDE STYLING FOR (SKELETON) TABLES */
th, td {
    border-bottom-color: $color_orange;
}

/* OVERRIDE HR COLOR */
hr {
    border-top-color: $color_orange;
}

/* STYLING FOR WATCH ELEMENT */

#watchouter {
    -webkit-filter: drop-shadow(5px 5px 5px #777);
    filter:         drop-shadow(5px 5px 5px #777);
}

/* STYLING FOR TWEETS */

img.tweet_img {
    float: right;
    max-width: 40%;
    margin-left: 1.0rem;
    border-radius: 0.5rem;
    margin-bottom: 1.0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // -webkit-filter: drop-shadow(5px 5px 5px #777);
    // filter:         drop-shadow(5px 5px 5px #777); 
}

img.tweet_user {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    float: left;
    margin-right: 1.0rem;
    margin-top: 0.5rem;
}

hr.tweet_hr {
    margin-top: 0.5rem;
    margin-bottom: 2.0rem;
}

h3.tweet_date  {
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: -0.05rem;
    margin-bottom: 0px;
    color: $color_greyText;
    font-weight: 700; 
}

/* STYLING FOR BEERS */
img.beer_img {
    float: right;
    max-width: 40%;
    margin-left: 1.0rem;
    border-radius: 0.5rem;
    margin-bottom: 1.0rem;
    -webkit-filter: drop-shadow(5px 5px 5px #777);
    filter:         drop-shadow(5px 5px 5px #777); 
}

/* STYLING FOR FOOTBALL */

#football_table {
    tr {
        td {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
        td, th {
            padding-left: 0.8rem;
            padding-right: 0.8rem;

            &:first-of-type {
                padding-left: 0.2;
            }

            &:last-of-type {
                padding-right: 0.2;
            }
        }
    }
}

/* STYLING FOR ARCHER AND JOKE */

#archer, #joke {
    ul {
        list-style-type: none;
        li {
            padding-left: 1.1rem;
            margin-left: 0;
            font-family: 'Bebas Neue';
            font-size: 2.0rem;
            margin-bottom: 1.0rem;
            &:before {
                content: "-- ";
                margin-left: -1.1rem;
            }
        }
    }
}

/* STYLING FOR WEATHER */

#weather {
    img {
        height: 50px;
        position: relative;
        top: 2px;
    }
}

#f1 {
    tr {
        td {
            font-family: 'Bebas Neue';
            font-size: 2.4rem;
        }
    }
}