---
permalink: style.css
---
{% set css %}
    {% include "style/normalize.css" %}
    {% include "style/skeleton.css" %}
    {% set scss %}
        {% include "style/_color.scss" %}
        {% include "style/_responsive.scss" %}
        {% include "style/style.scss" %}
    {% endset %}
    {{ scss | convertSASS | safe }}
{% endset %}
{{ css | cssmin | safe }}