---
layout: layout.njk
---

<div class="outer_container">
    <div>
        {% include "components/watch.html" %}
        <iframe
            style="border-radius: 1.0rem"
            sandbox="allow-same-origin allow-scripts allow-top-navigation allow-popups allow-forms"
            scrolling=no
            width="100%"
            height="185"
            frameborder="0"
            src="https://embed.radiopublic.com/e?if=this-day-in-history-class-6VDrpM"
        >
        </iframe>
    </div>
    {% include "components/covid.njk" %}
    {% include "components/rtww2.njk" %}
    {% include "components/archer.njk" %}
    {% include "components/superhero.njk" %}
    {% include "components/beer.njk" %}
    {% include "components/football.njk" %}
    {% include "components/weather.njk" %}
    {% include "components/space.njk" %}
    {% include "components/baseball.njk" %}
    {% include "components/fccnews.njk" %}
    {% include "components/currency.njk" %}
    {% include "components/f1.njk" %}
    {% include "components/cycling.njk" %}
    {% include "components/today.njk" %}
    {% include "components/bitcoin.njk" %}
    {% include "components/joke.njk" %}
    {% include "components/randomcat.njk" %}
    <div class="panel">
        <h2>About</h2>
        <p>
            Little project using a static site generator (<a href="https://www.11ty.dev/">11ty</a>)
            to build a custom 'homepage' dashboard, including as many odd little widgets as I can
            think of.
        </p>
        <p>
            Code on a <a href="https://github.com/domwakeling/web_homepage">Github repo</a>,
            page is housed on Netlify and refreshed at 6am each morning via a Netlify Hook.
        </p>
    </div>
    <div class="panel">
        <h2>Regenerate</h2>
        <p>
            Use the button below to trigger a fresh "build" of the website on Netlify. This will
            take up to 60 seconds - and you'll need to refresh the page.
        </p>
        <button id="trigger_build">Trigger build</button>
    </div>
</div><!-- outer_container -->

<script>
    {% include "js/watch.js" %}
    {% include "js/button.js" %}
</script>