---
layout: layout.njk
---

<div class="outer_container" id="main-content"> 
    <div class="grid" data-masonry='{"itemSelector": ".grid-item", "transitionDuration": "0.1s"}'>
        {% include "components/watch.njk" %}
        {% include "components/archer.njk" %}
        {% if showF1 %}
        {% include "components/f1team.njk" %}
        {% endif %}
        {% include "components/links.njk" %}
        {% include "components/tv.njk" %}
        {% include "components/advice.njk" %}
        {% include "components/weather.njk" %}
        {% include "components/space.njk" %}
        {% include "components/silly.njk" %}
        {% include "components/fccnews.njk" %}
        {% include "components/currency.njk" %}
        {% include "components/today.njk" %}
        {% include "components/weight.njk" %}
        {% include "components/bitcoin.njk" %}
        {% include "components/joke.njk" %}
        {% include "components/randomcat.njk" %}
        {% include "components/about.html" %}
        {% include "components/regenerate.html" %}
    </div>
</div><!-- outer_container -->

{% set js %}
    {% include "js/masonry.min.js" %}
    {% include "js/watch.js" %}
    {% include "js/font-switch.js" %}
    {% include "js/button.js" %}
    {% include "js/weight.js" %}
{% endset %}

<!-- beautify ignore:start -->
<script>
    {{ js | jsmin | safe }}
</script>
<!-- beautify ignore:stop -->
